configuration {
  display-drun: "󰀻 ";
  display-window: " ";
  display-emoji: "󰞅 ";
  display-calc: " ";
  drun-display-format: "{name}";
  font: "JetBrainsMono Nerd Font 12";
  modi: "window,run,drun,emoji,calc";
}

@theme "/home/max/.local/share/rofi/themes/nord.rasi"
