* {
    border: none;
    border-radius: 0px;
    font-family: JetBrainsMono Nerd Font;
    font-size: 14px;
    font-style: normal;
    min-height: 0;
	}

window#waybar {
    background: #11111b;
    color: #cdd6f4
}

#workspaces {
	background: #1e1e2e;
	margin: 3px;
    padding: 8px 5px;
	border-radius: 24px;
    border: solid 0px #89b4fa;
    font-weight: normal;
    font-style: normal;
}
#workspaces button {
    padding: 0px 3px;
    margin: 0px 3px;
    border-radius: 24px;
    color: #89b4fa;
    background-color: #313244;
    transition: all 0.3s ease-in-out;
}
#workspaces button.active {
    color: #89b4fa;
    background-color: #cba6f7;
    border-radius: 24px;
    min-width: 50px;
    background-size: 400% 400%;
    transition: all 0.3s ease-in-out;
}
#workspaces button:hover {
	background-color: #89b4fa;
	color: #89b4fa;
	border-radius: 24px;
  min-width: 50px;
  background-size: 400% 400%;
}

#clock, 
#pulseaudio, 
#network, 
#custom-launcher, 
#custom-pacmanAlt,
#cpu,
#memory,
#tray,
#disk,
#cava,
#windows,

#cava{
    background-color: #2e3440;
    color: #a3be8c;
    border-radius: 16px;
    margin: 3px;
    margin-left: 5px;
    margin-right: 5px;
    padding: 0px 10px 0px 10px;
    font-weight: bold;      
}

#custom-pacmanAlt{
    background-color: #1e1e2e;
    color: #fab387;
    border-radius: 24px;
    margin: 3px;
    margin-left: 5px;
    margin-right: 5px;
    padding: 0px 10px 0px 10px;
    font-weight: bold;      
}

#tray {
    background: #1e1e2e;
    margin: 3px;
    border-radius: 24px;
    padding: 0px 12px;
    /*border-right: solid 1px #282738;*/
}

#clock {
    color: #cdd6f4;
    background-color: #1e1e2e;
    border-radius: 24px;
    padding-left: 13px;
    padding-right: 15px;
    margin-right: 5px;
    margin-left: 10px;
    margin-top: 3px;
    margin-bottom: 5px;
    font-weight: bold;
    /*border-left: solid 1px #282738;*/
}

#network {
    color: #89b4fa;
    background: #1e1e2e;
    border-radius: 24px;
    margin-top: 3px;
    margin-right: 5px;
    padding-left: 7px;
    font-weight: bold;
}

#pulseaudio {
    color: #f9e2af;
    background: #1e1e2e;
    border-radius: 24px;
    margin: 3px;
    margin-left: 5px;
    margin-right: 5px;
    padding: 0px 10px 0px 10px;
    font-weight: bold;
}

#custom-launcher {
    color: #cdd6f4;
    background-color: #1e1e2e;
    border-radius: 15px;
    margin: 3px;
    margin-right: 5px;
    margin-left: 5px;
    padding: 0 17px 0 12px;
    /*border-right: solid 1px #282738;*/
    font-size: 20px;
}

#custom-launcher button:hover {
    background-color: #FB4934;
    color: transparent;
    border-radius: 8px;
    margin-right: 5px;
    margin-left: 10px;
}

#custom-playerctl {
	background: #2e3440;
    padding: 0px 5px 0px 10px;
	border-radius: 16px;
    /*border-left: solid 1px #282738;*/
    /*border-right: solid 1px #282738;*/
    margin: 5px 7px;
    font-weight: normal;
    font-style: normal;
    font-size: 16px;
}

#custom-playerlabel {
    background: transparent;
    padding-left: 10px;
    padding-right: 5px;
    border-radius: 16px;
    /*border-left: solid 1px #282738;*/
    /*border-right: solid 1px #282738;*/
    margin-top: 5px;
    margin-bottom: 5px;
    font-weight: normal;
    font-style: normal;
}

#window {
    background: #1e1e2e;
    padding-left: 15px;
    padding-right: 15px;
    border-radius: 24px;
    /*border-left: solid 1px #282738;*/
    /*border-right: solid 1px #282738;*/
    margin-top: 3px;
    margin-left: 5px;
    margin-bottom: 5px;
    font-weight: bold;
    font-style: normal;
}

#cpu {
    background-color: #1e1e2e;
    color: #f38ba8;
    border-radius: 24px;
    margin: 3px;
    margin-left: 5px;
    margin-right: 5px;
    padding: 0px 10px 0px 10px;
    font-weight: bold;
}

#memory {
    background-color: #2e3440;
    color: #b48ead;
    border-radius: 16px;
    margin: 5px;
    margin-left: 5px;
    margin-right: 5px;
    padding: 0px 10px 0px 10px;
    font-weight: bold;
}

#disk {
    background-color: #2e3440;
    color: #d08770;
    border-radius: 16px;
    margin: 3px;
    margin-left: 5px;
    margin-right: 5px;
    padding: 0px 10px 0px 10px;
    font-weight: bold;
}

#language {
    background-color: #2e3440;
    color: #a3be8c;
    border-radius: 16px;
    margin: 5px;
    margin-left: 5px;
    margin-right: 5px;
    padding: 0px 10px 0px 10px;
    font-weight: bold;
}

#battery {
    background-color: #1e1e2e;
    color: #a6e3a1;
    border-radius: 16px;
    margin: 3px;
    margin-right: 0;
    margin-left: 5px;
    padding: 0px 10px 0px 10px;
    font-weight: bold
}
